<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="derekwilson.net.rameater" >

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".RamEater"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:label="@string/title_activity_settings" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
        <activity
            android:name=".activity.help.HelpActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:label="@string/title_activity_help">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
        <service
            android:name=".services.Service1"
            android:process=":sp1">
        </service>
        <service
            android:name=".services.Service2"
            android:process=":sp2">
        </service>
        <service
            android:name=".services.Service3"
            android:process=":sp3">
        </service>
        <service
            android:name=".services.Service4"
            android:process=":sp4">
        </service>
        <service
            android:name=".services.Service5"
            android:process=":sp5">
        </service>
        <service
            android:name=".services.Service6"
            android:process=":sp6">
        </service>
        <service
            android:name=".services.Service7"
            android:process=":sp7">
        </service>
        <service
            android:name=".services.Service8"
            android:process=":sp8">
        </service>
        <service
            android:name=".services.Service9"
            android:process=":sp9">
        </service>
        <service
            android:name=".services.Service10"
            android:process=":sp10">
        </service>
    </application>

</manifest>
