<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".RamEater"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:label="@string/title_activity_settings" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
        <activity
            android:name=".activity.help.HelpActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:label="@string/title_activity_help">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
        <service
            android:description="@string/service_1"
            android:label="@string/service_1"
            android:name=".services.Service1"
            android:process=":sp1">
        </service>
        <service
            android:description="@string/service_2"
            android:label="@string/service_2"
            android:name=".services.Service2"
            android:process=":sp2">
        </service>
        <service
            android:description="@string/service_3"
            android:label="@string/service_3"
            android:name=".services.Service3"
            android:process=":sp3">
        </service>
        <service
            android:description="@string/service_4"
            android:label="@string/service_4"
            android:name=".services.Service4"
            android:process=":sp4">
        </service>
        <service
            android:description="@string/service_5"
            android:label="@string/service_5"
            android:name=".services.Service5"
            android:process=":sp5">
        </service>
        <service
            android:description="@string/service_6"
            android:label="@string/service_6"
            android:name=".services.Service6"
            android:process=":sp6">
        </service>
        <service
            android:description="@string/service_7"
            android:label="@string/service_7"
            android:name=".services.Service7"
            android:process=":sp7">
        </service>
        <service
            android:description="@string/service_8"
            android:label="@string/service_8"
            android:name=".services.Service8"
            android:process=":sp8">
        </service>
        <service
            android:description="@string/service_9"
            android:label="@string/service_9"
            android:name=".services.Service9"
            android:process=":sp9">
        </service>
        <service
            android:description="@string/service_10"
            android:label="@string/service_10"
            android:name=".services.Service10"
            android:process=":sp10">
        </service>
        <service
            android:description="@string/service_11"
            android:label="@string/service_11"
            android:name=".services.Service11"
            android:process=":sp11">
        </service>
        <service
            android:description="@string/service_12"
            android:label="@string/service_12"
            android:name=".services.Service12"
            android:process=":sp12">
        </service>
        <service
            android:description="@string/service_13"
            android:label="@string/service_13"
            android:name=".services.Service13"
            android:process=":sp13">
        </service>
        <service
            android:description="@string/service_14"
            android:label="@string/service_14"
            android:name=".services.Service14"
            android:process=":sp14">
        </service>
        <service
            android:description="@string/service_15"
            android:label="@string/service_15"
            android:name=".services.Service15"
            android:process=":sp15">
        </service>
        <service
            android:description="@string/service_16"
            android:label="@string/service_16"
            android:name=".services.Service16"
            android:process=":sp16">
        </service>
        <service
            android:description="@string/service_17"
            android:label="@string/service_17"
            android:name=".services.Service17"
            android:process=":sp17">
        </service>
        <service
            android:description="@string/service_18"
            android:label="@string/service_18"
            android:name=".services.Service18"
            android:process=":sp18">
        </service>
        <service
            android:description="@string/service_19"
            android:label="@string/service_19"
            android:name=".services.Service19"
            android:process=":sp19">
        </service>
        <service
            android:description="@string/service_20"
            android:label="@string/service_20"
            android:name=".services.Service20"
            android:process=":sp20">
        </service>
    </application>

</manifest>
